.filter-options {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;

  .dropbutton {
    margin: 0.6rem;
    padding: 0.4rem;
    border: none;
  }

  .dropdown {
    margin: auto;
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(196, 196, 196);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: rgb(146, 146, 146);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
